= smart_listing_controls_for(:pools, {class: "form-inline text-right"}) do
  .form-group.filter.input-append
    = text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :off
  %button.btn.btn-primary.disabled{type: :submit}
    %span.glyphicon.glyphicon-search

%table.table.table-striped{id: "pools-list"}
  %thead
    %tr
      %th.col-md-2= smart_listing.sortable "Pool", :name
      %th.col-md-5= smart_listing.sortable "Resource", "resource"
      %th= smart_listing.sortable raw('<span class="glyphicon glyphicon-ok-sign" title="active"></span>'), "active"
      %th.col-md-4= "Notes"
  %tbody
    - smart_listing.collection.each do |o|
      %tr.editable.clickable-row{data: {id: o.id}}
        = smart_listing.render object: o, partial: "pools/pool", locals: {object: o}
    = smart_listing.item_new colspan: 6, link: new_pool_path

-# TODO: implement operations over selected rows
= javascript_include_tag "selectable-table"

-# Render nice pagination links fitted for Bootstrap 3 by default
= smart_listing.paginate
= smart_listing.pagination_per_page_links
